<div class="game-container">
    <div class="upper-row">
        <p>Torpedo Game</p>
    </div>
    <div class="middle-row">
        <div class="display-head-title">
            Display
        </div>
        <div class="displays">
            <div class="display-container">
                <player-ships-board [isOpponentTurn]="isOpponentTurn" [gameBoard]="playerBoard"></player-ships-board>
            </div>
            <div class="display-container">
                <player-fire-board [isPlayerTurn]="isPlayerTurn" [gameBoard]="opponentBoard" (selectedPosition)="fireOnSelectedPosition($event)"></player-fire-board>
            </div>
        </div>
    </div>
</div>

