.game-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    justify-content: space-around;
    align-content: center;
    background-color: rgb(238, 234, 234);
    margin: auto auto;
    padding: 8px;

}

.upper-row {

}

.middle-row {

}

.displays {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.display-container {
    display: flex;
}