.cell {
    background-color: white;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid whitesmoke;
}

.cell-inner {
    
}

.rows {
    display: flex;
}

.table {
    width: 300px;
}

.ship {
    background-color: grey;
}

.water {
    background-color: blue;
}