.display-board-player-ships {
    width: 350px;
    height: 100%;
}

.display-title {
    min-width: 200px;
    height: 16px;
    padding: 8px;
}

.cell {
    background-color: white;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
}

.cell-inner {
    
}

.rows {
    display: flex;
}

.table {
    width: 300px;
}

.ship {
    background-color: grey;
}

.water {
    background-color: blue;
}